@import '../../styles/variables.scss';

.home {
  // min-height: 100vh;
  position: absolute;
  right: 0;
  // width: 100%;
  // z-index: 2;
}
.home__background {
  min-height: 100vh;
  // position: absolute;
  // right: 0;
  width: 100%;
  z-index: 2;
}
