@import '../../styles/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 84px;
  padding: 0 5%;
  border-bottom: 1px solid $color-lighter-gray;
  position: absolute;

  img {
    height: 38px;
  }

  nav {
    display: flex;
    align-items: center;
  }

  p {
    display: none;
    font-size: 8px;
    margin-left: 15px;


    a {
      font-weight: 600;
    }
  }
}

.header__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  margin-left: 20px;
  p {
    display: flex;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    font-family: $font-primary;
    margin-right: 7px;
    margin-left: 15px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    z-index: 3;
  }

  svg {
    color: #fff;
    z-index: 3;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  z-index: 3;
}

@media (min-width: $screen-md) {
  .header__link {
    p {
     margin-right: 7px;
    }
  }
}

@media (min-width: $screen-xl) {
  .header__logo {
    display: flex;

    p {
      display: flex;
    }
  }

  .header__link {
    p {
     display: flex;
    }
  }
}
